:root {
  font-family:
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

a {
  color: #444444;
}
a:hover {
  color: #888888;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  font: inherit;
}

/* Add these new styles */
.url-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

/* Add this new style */
.content-container {
  max-width: 36rem;
  text-align: center;
  padding: 0 8px;
}

/* Update url-input width to be 100% since container will control max width */
.url-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  background: #444444;
  color: white;
}

/* Add footer styles */
.footer {
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  color: #a0a0a0;
}

a {
  color: #689f98;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  color: #43706a;
}
